/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilos para formularios */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

/* Estilos para etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilos para el botón de Reset */
button {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para el campo de lista desplegable */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilos para las opciones en la lista desplegable */
option {
    padding: 8px;
}

/* Estilo para el enlace */
a {
    text-decoration: none; /* Quita el subrayado predeterminado */
    color: #007bff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    transition: color 0.3s; /* Transición suave del color al pasar el mouse */
    margin: 4px;
}

/* Cambio de color al pasar el mouse */
a:hover {
    color: #0056b3; /* Nuevo color al pasar el mouse */
}
